/*
Header
*/
  .header-text{
    margin-top: 20%;
    font-size: 30px;
  }
  .header-text h1{
    font-size: 60px;
    margin-top: 20px;
  }
  .header-text h1 span{
    color:rgb(164, 93, 0);
  }
  header::after{
    content: '';
    display: table;
    clear: both;
  }