.App {
  text-align: center;
}

.App-header{
  background-color: #282c34;
}
html{
  scroll-behavior: smooth;
}
* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}
.container{
  width: 90%;
  margin-inline: auto;
  max-width: 1920px;
}
/* section */
section{
  padding: 10rem 0;
  background: #eff4ff;
  transition: all ease-in-out 250ms;
}
section:nth-child(even){
  background: white;
}
a{
  color: white;
  transition: all ease-in-out 250ms;
}

/* direct children of section */
section > h2{
  text-align: center;
}
section > p{
  text-align: center;
  margin: 0.5rem auto 4rem;
  width: 40%;
}

/* heading */
h1, h2, h3, h4, h5, h6{
  line-height: 1.1;
  color: black;
}
h1{
  font-size: 3rem;
}
h2{
  font-size: 2rem;
}
h3{
  font-size: 1.6rem;
}
h4{
  font-size: 1.1rem;
}
h5{
  font-size: 0.95rem;
}
h6{
  font-size: 0.8rem;
}
/* button */
.btn{
  display: inline-block;
  width: fit-content;
  display: flex;
  align-items: center;
  gap: 1rem;
  background: #545d6d;
  color:whitesmoke;
  padding: 0.6rem 2.5rem;
  border: 2px solid transparent;
  border-radius: 5%;
  cursor: pointer;
}
.btn:hover{
  background-color: transparent;
  border-color: #545d6d;
  transform: translateY(-0.5rem);

}
/* btn */
.btn.white{
  background: whitesmoke;
}
.btn.white:hover{
  background: transparent;
  border-color: whitesmoke;
}
.btn.primary{
  background: #000b1c;
  border-color: transparent;
  color: #a6b5cc;
}
.btn.sm{
  padding: 0.5rem 1.2rem;
}

/* tablets */
@media screen and (max-width: 1024px) {
  body{
      font-size: 1rem;
  }
  .contianer{
      width: 90%;
  }
  section{
      padding: 8rem 0;
  }
  section > p {
      width: 72%;
      margin-bottom: 3rem;
  }
  h1{
      font-size: 2rem;
  }
  
}

/* mobile phones*/
@media screen and (max-width: 600px) {
  h1{
      font-size: 2.4rem;
  }
  h2{
      font-size: 1.8rem;
  }
  h3{
      font-size: 1.4rem;
  }
  h4{
      font-size: 1rem;
  }
  .btn{
      padding: 0.6rem 1.5rem;
  }
  section > p{
      width: 90%;
  }
  
}


