.about__container{
    display: grid;
    grid-template-columns: 35% 53%;
    gap: 12%;
}
.about__cards{
    margin: 3rem 0 1.5rem;
    display: grid;
    grid-template-columns: repeat (3, 1fr);
    gap: 1.5rem;
}
article.card{
    width: 50%;
    margin: 0 auto;
    background: #282c34;
    border-radius: 1%;
    color:whitesmoke;
    
}
article.card h5{
    color:whitesmoke;
}
.about__card-icon{
    font-size: 1.3rem;
    color:whitesmoke;
    border-radius: 10%;
    width: fit-content;
    margin-inline: auto;
    padding: 0.6rem;
    display: flex;
    align-items: center;
    transition: all ease-in-out 250ms;
}
.about__card-icon:hover, article.card:hover, article.card h5:hover{
    background:#454c5a;
    
}
.card.about__card h5{
    margin: 1rem 0;
}
.about p{
    margin-bottom: 0.8rem;
}
.about .btn{
    margin-top: 2.5rem;
}
.about h2 {
    text-align: center;
}

/* tablets */
@media  screen and (max-width: 1024px) {
    .about__container{
        grid-template-columns: 1fr;
    }
    .about h2{
        text-align: center;
    }
    article.card{
        width: 100%;
    }
}

/* mobile */
@media  screen and (max-width: 600px) {
    .about__cards{
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
    }
    .about .btn{
        margin-top: 2rem;
    }
}